*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 500ms ease;
}

.main-container{
    display: flex;
    height: 100vh;
}

img.flower{
    position: fixed;
    bottom: 0px;
    height: 140px;
}

.container{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.container nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.change-to-flex{
    display: flex;
}

.container nav ul{
    list-style: none;
    position: absolute;
    margin-top: 100px;
    background-color: #D9D9D9;
    width: 50%;
    flex-direction: column;
    border-radius: 24px;
    justify-content: space-between;
    align-items: center;
}

.container nav ul a{
    text-decoration: none;
    color: #1F1F1F;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    cursor: pointer;
}

.container nav ul:hover{
    cursor: pointer;
}

.hamburger-menu{
    width: 32px;
    height: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    outline: none;
    border: none;
}

.top, .mid, .bottom{
    background-color: #1F1F1F;
    height: 5px;
    margin: 2px;
    width: 32px;
}

.top-rotate{
    transform: rotate(45deg) translate(8px);
}

.remove{
    display: none;
}

.bottom-rotate{
    transform: rotate(135deg) translate(-5px);
}

.text-cta{
    margin-top: 80px;
    max-width: 450px;
}

.yoga{
    background-color: #F4F4F4;
    width: fit-content;
    padding: 8px 20px;
    font-family: 'Poppins';
    font-size: 10px;
    border-radius: 100px;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 8px;
    font-size: 60px;
    line-height: 74px;
}

h6{
    font-family: 'DM Sans';
    color: #D9D9D9;
    font-weight: 300;
    font-size: 18px;
    padding-top: 12px;
}

.button{
    background-color: #1F1F1F;
    width: fit-content;
    min-width: 180px;
    margin-top: 50px;
    padding: 17px 14px 17px 14px;
    border-radius: 4px;
    cursor: pointer;
}

.button a{
    text-decoration: none;
    color: #F4F4F4;
    display: flex;
    font-size: 16px;
    font-family: 'Poppins';
}

.button a p{
    padding-right: 30px;
}


.button:hover .arrow{
    transform: translateX(30px) scale(2);
    transition: all 250ms ease-in-out;
    padding-right: 30px;
}

#cta{
    width: 100%;
}

.add-margin{
    margin-top: 80px;
}

.cta-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.img-cta img{
    display: none;
    background-color: #E4E4E4;
    border-radius: 50%;
}


footer{
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    width: 100%;
}

footer h3{
    padding-top: 100px;
    font-family: 'Poppins';
    color: #FFFFFF;
    padding-bottom: 20px;
}

footer .social-media{
    width: 204px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}

footer .line{
    margin-bottom: 50px;
    content: "";
    width: 200px;
    height: 10px;
    border-radius: 12px;
    background: linear-gradient(90deg, #00FFFF, #1F1F1F);
}

footer .copyright{
    color: #D9D9D9;
    font-family: 'DM Sans';
}


@media (min-width: 500px) {
    .container nav ul{
        display: flex;
        flex-direction: row;
        margin-top: 0;
        position: static;
        background-color: initial;
        justify-content: space-between;
    }

    .container{
        margin-left: 160px;
        margin-right: 160px;
    }
    
    .img-cta img{
        display: block;
    }

    #cta{
        margin-top: 80px;
    }

    .space{
        content: "";
        width: 130px;
    }

    .hamburger-menu{
        display: none;
    }
}